* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #1a1a1a;
    --grey: #8e8e8e;
    --light-grey: #f6f6f6;
    --white: #ffffff;
    --font-base: "Mulish", sans-serif;
    font-size: 16px;
}


body {
    font-family: var(--font-base);
    background-color: var(--white);
    font-weight: 600;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-white {
    background-color: var(--white);
}

.text-dark {
    color: var(--dark) !important;
}

.text-grey {
    color: var(--grey);
}

.text-white {
    color: var(--white);
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    line-height: 1.6;
    color: var(--grey);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--grey);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--dark);
}

button {
    outline: none;
    border: none;
}

.nav-link:hover {
    color: var(--dark) !important;
}

.mobile-navbar {
    width: 250px;
    padding: 1rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.6px);
    -webkit-backdrop-filter: blur(17.6px);
    border: 1px solid rgba(255, 255, 255, 0.49);

    transform: translateX(110%);
    transition: transform 0.35s ease-in-out;

    z-index: 9999;

}

.mobile-navbar.active {
    transform: translateX(0);
}

.mob-nav-item {
    margin: 1.5rem 0rem;
}

.nav-backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    z-index: 9999;
}

.nav-backdrop.active {
    opacity: 1;
    pointer-events: auto;
}

.hero-section {
    height: calc(100vh - 130px);
    background: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.hero-content {
    max-width: 800px;
    padding: 30px;
    color: #fff;
}

.default-btn {
    background-color: var(--dark);
    color: var(--white);
    border-radius: 8rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-weight: 800;
}

.buy-now-btn {
    background-color: var(--grey);
    color: var(--white);
    border-radius: 8rem;
    padding: 1rem 1.5rem;
    font-weight: 800;
}

.product-card {
    background-color: var(--light-grey);
    border-radius: 2rem;
}

.subscribe-area {
    max-width: 800px;
}

input {
    border: 1px solid black !important;
    border-radius: 8rem;
}

.cart-box {
    height: 100vh;
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.6px);
    -webkit-backdrop-filter: blur(17.6px);
    border: 1px solid rgba(255, 255, 255, 0.49);
    width: 300px;
}

.cart-box-wrapper {
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.cart-box-wrapper.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.view-cart {
    right: 19.3rem;
    bottom: 3rem;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
}

.cart-counter {
    top: 0;
    right: 0;
    background-color: var(--dark);
    border-radius: 50%;
    transform: translateX(25%) translateY(-25%);
}