* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #1a1a1a;
    --grey: #8e8e8e;
    --white: #ffffff;
    --font-base: "Mulish", sans-serif;
    font-size: 16px;
}


body {
    font-family: var(--font-base);
    background-color: var(--white);
    font-weight: 600;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-white {
    background-color: var(--white);
}

.text-dark{
    color: var(--dark) !important;
}

.text-grey {
    color: var(--grey);
}

.text-white {
    color: var(--white);
}

li{
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    line-height: 1.6;
    color: var(--grey);
}

a {
    text-decoration: none;
    color: var(--grey);
}
a:hover{
    color:var(--dark);
}
.nav-link:hover{
    color: var(--dark) !important;
}

.mobile-navbar{
    width: 250px;
    padding:1rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
   
    transform: translateX(110%);
    transition: transform 0.35s ease-in-out;

    z-index: 9999;
   
}
.mobile-navbar.active{
    transform: translateX(0);
}

.mob-nav-item{
    margin:1.5rem 0rem;
}

.nav-backdrop{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    z-index: 9999;
}

.nav-backdrop.active{
    opacity: 1;
    pointer-events: auto;
}
.img-inline-wrap{
    display: inline-block;
    border-radius: 300px;
    overflow: hidden;
    vertical-align: middle;
}
